.conteiner_cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;

    padding-top: 2rem;
    padding-bottom: 2rem;

    gap: 1rem;
} 

.text_home{
    width: 60%;
    font-weight: 500;

    margin-top: 0.5rem;
}

@media (max-width: 900px){
    .conteiner_cards{
        flex-direction: column;
    }

}

@media (max-width: 500px){
    .text_home{
        font-size: 1rem;
        font-weight: 400;
    }
    
}
