.flex{
    display: flex;
    flex-direction: column;
}

.forms{
    align-items: flex-start;
    gap: 0.5rem;
    margin-top: 1rem; 
}

.forms input, textarea, select{
    height: 2rem;
    width: 100%;
    all: unset;

    padding: 0.7rem;
    text-align: start;

    border: 0.06rem solid rgb(3, 132, 230);
    border-radius: 1rem; 
}
select{
    text-align: center;
    width: 90%;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.146);
}
option{
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(203, 187, 187);
}
.forms select:focus{
    border: 0.06rem solid orangered;;
}

.forms input:focus{
    border: 0.06rem solid orangered;
}

.forms textarea:focus{
    border: 0.06rem solid orangered;
}
.btn-forms{
    all: unset;
    
    background-color: orangered;

    padding: 0.5rem;
    border-radius: 1rem;
    margin-left: 1rem;

    cursor: pointer;
}

.btn-forms:hover{
    background-color: rgba(255, 166, 0, 0.574);
}
.forms span{
    width: 100%;

    text-align: center;
    
    background-color: red;
    color: white;
    
    border-radius: 1rem;
}

